{% extends "base.html" %}
{% block title %}Register - Biblioteca{% endblock %}

{% block content %}
<h2>Registrazione Nuovo Admin</h2>
<form method="post" action="/registerAdmin">
  <div class="mb-3">
    <label for="tessera" class="form-label">Tessera Biblioteca</label>
    <input type="text" class="form-control" id="tessera" name="tessera" required>
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" required>
  </div>
  <div class="mb-3">
    <label for="cognome" class="form-label">Cognome</label>
    <input type="text" class="form-control" id="cognome" name="cognome" required>
  </div>
  <div class="mb-3">
    <label for="datanascita" class="form-label">Data di Nascita</label>
    <input type="date" class="form-control" id="datanascita" name="datanascita" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="mb-3">
    <label for="confirm_password" class="form-label">Conferma Password</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
  </div>
  <button type="submit" class="btn btn-primary">Registrati</button>
</form>
{% endblock %}
